{% extends 'tenrr/base.html' %}

{% block title %}Tenrr - About Us{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container">
            <h1>About Tenrr</h1>
            <p>Discover more about our mission and the team behind Tenrr.</p>
        </div>
    </section>

    <section class="container">
        <h2>Our Mission</h2>
        <p>Tenrr is dedicated to connecting freelancers with opportunities to showcase their talents and grow their businesses. We believe in creating a community where every talent can find a stage and every challenge a solution.</p>
    </section>

    <section class="container team">
        <h2>Meet the Team</h2>
        <div class="team-members">
            <!-- Example Team Member -->
            <div class="team-member">
                <h4>Ian A'Hara</h4>
                <p>Developer</p>
                <h4>Team Member Name</h4>
                <p>Role Description</p>
                <h4>Team Member Name</h4>
                <p>Role Description</p>
                <h4>Team Member Name</h4>
                <p>Role Description</p>
                <h4>Team Member Name</h4>
                <p>Role Description</p>
            </div>
            <!-- Add more team members here -->
        </div>
    </section>

    <section class="container testimonials">
        <h2>Testimonials</h2>
        <div class="testimonial">
            <p>"Tenrr has been a game-changer for my freelance career. The platform is intuitive, and the community is incredibly supportive."</p>
            <p>- Freelancer Name</p>
        </div>
        <!-- Add more testimonials here -->
    </section>
{% endblock %}
