{% extends 'tenrr/base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<section class="hero">
    <div class="container">
        <h1>Edit Profile</h1>
        <div class="form-card">
            <form method="post" action="{% url 'tenrr:edit_profile' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.user_type.label_tag }}
                    {{ form.user_type }}
                </div>
                <div class="form-group">
                    {{ form.contact_info.label_tag }}
                    {{ form.contact_info }}
                </div>
                <button type="submit" class="btn">Update</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
