{% extends 'tenrr/base.html' %}

{% block title %}Tenrr - Home Page{% endblock %}

{% block content %}
    <div class="hero">
        <h1>Browse various freelancers and their services</h1>
        <form action="{% url 'tenrr:search' %}" method="get" class="search-form">
            <input type="text" name="query" placeholder="Search services or freelancers">
            <button type="submit">Search</button>
        </form>
    </div>

    <section id="categories" class="container">
        <h2>Popular Categories</h2>
        <div class="categories-grid">
            {% for category in categories %}
                <a href="{% url 'tenrr:search' %}?category={{ category.id }}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </section>
{% endblock %}