/* Reset some basic elements */
body, h1, h2, form, button {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Container styling */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Header styling */
header {
    background-color: #007BFF;
    color: #ffffff;
    padding: 20px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


header #logo-container {
    flex-shrink: 0; 
}

header img#logo {
    height: 50px;
}


header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0; 
    height: 100%; 
}

header nav ul li {
    margin-left: 20px; 
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}


/* Hero section styling */
.hero {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
}

.hero h1 {
    color: #333333;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-form input[type="text"] {
    border: none;
    padding: 10px;
    width: 300px;
    margin-right: -5px; /* Removes the gap between input and button */
}

.search-form button {
    border: none;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
}

/* Categories section styling */
#categories {
    padding: 50px 0;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    text-align: center;
}

#categories a {
    background-color: #007bff;
    color: #ffffff;
    display: block;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#categories a:hover {
    background-color: #0056b3;
}

/* Footer styling */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    .search-form input[type="text"] {
        width: 80%;
    }
}

/* Additional styles for profile editing and general UI improvements */
.form-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.form-card .form-group {
    margin-bottom: 15px;
}

.form-card .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-card .form-group input,
.form-card .form-group textarea,
.form-card .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-card .form-group button[type="submit"] {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.form-card .form-group button[type="submit"]:hover {
    background-color: #00408a;
}

.btn:hover, .btn:focus {
    background-color: #0056b3;
    outline: none;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .posts-list, .sales-list {
        grid-template-columns: 1fr;
    }
}

/* Accessibility improvements */
.btn:focus {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

/* Code cleanup */
/* Remove any redundant or unused styles here */
/* Organize CSS into sections with comments for maintainability */
